:root {
  --rotation : 90deg;
}

.text-stroke {
  text-shadow: 0.1px 0.1px 1.5px white;
}

.trapezoid {
  transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  border-radius: 2px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  background: transparent;
  outline: transparent;
  outline-offset: -5px;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.bubble-tail-left::before {
  position: absolute;
  left: -0.375rem;
  top: 0.375rem;
  display: block;
  height: 1rem;
  width: 1rem;
  transform: rotate(45deg) scale(0.5);
  background: #2d3748;
  content: "";
}

.bubble-tail-right::before {
  position: absolute;
  right: -0.375rem;
  top: 0.375rem;
  display: block;
  height: 1rem;
  width: 1rem;
  transform: rotate(45deg) scale(0.5);
  background: #2d3748;
  content: "";
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}



.button-corner::before {
  /* position: absolute;
  left: -0.375rem;
  top: -0.3rem;
  display: block;
  height: 1rem;
  width: 1rem;
  transform: rotate(-95deg) scale(0.5);
  background: #2d3748; */
  /* clip-path: polygon(); */
  content: "";
  /* content: ""; */
  position: absolute;
  top: 0.2rem;
  right: 0.15rem;
  width: 0;
  height: 0;
  border-top: 10px solid; 
  border-right:10px solid transparent;
  border-bottom: none;
  border-left: transparent;
  z-index: 30;
  transform: rotate(var(--rotation));
  /* -webkit-transform: rotate(var(--rotation)); */
  -moz-transform: rotate(var(--rotation));
  border-radius: 10%;
  @apply border-l-slate-600 border-t-slate-600;
}
